<div class="row bg-offres">
        <div class=" filterside col-md-3 ">

            <div class="sidebar-wrapper">

                <ul class="nav">
            
                    <li class="filter">
                        
                        <div class="choices_filter">
                            <div class="col-md-12">   
                                <div class="dropdown">
                                    <span>Pays</span>
                                    <div class="dropdown-content">
                                      <p>Maroc</p>
                                      <p>Espagne</p>
                                    </div>
                                  </div>
                            </div>
            
                        </div>
                           
                    </li>
                    <hr>
                    <li class="filter">
                        
                        <div class="choices_filter">
                            <div class="col-md-12">   
                                <div class="dropdown">
                                    <span>Ville</span>
                                    <div class="dropdown-content">
                                      <p>Marrakech</p>
                                      <p>Rabat</p>
                                    </div>
                                  </div>
                            </div>
            
                        </div>
                           
                    </li>
                    <hr>
                    <li class="filter">
            
                        <div class="titres-filter">
                            Prix
                        </div>
                         
            
                        <div class="choices_filter">
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                              </div>
                              </div>
                        </li>
                    <br/>
                        <hr>
            
                        <li class="filter">
            
                            <div class="titres-filter">
                                Notation
                            </div>
                              
                            <div class="choices_filter">
                               
                                <i class="nc-icon nc-diamond stars" style="color: orange;font-size: 16;"></i>
                                <i class="nc-icon nc-diamond stars" style="color: orange;font-size: 16;"></i>
                                <i class="nc-icon nc-diamond stars" style="color: orange;font-size: 16;"></i>
                                <i class="nc-icon nc-diamond stars" style="color: #7f8585;font-size: 16;"></i>
                                <i class="nc-icon nc-diamond stars" style="color: #7f8585;font-size: 16;"></i>
                                
                               
                                </div>
                            </li>
                                <br/>
                                <hr>
                            <li class="filter">
            
                                <div class="titres-filter">
                                Options
                                </div>
                    
                                <div class="choices_filter check-area" >
                                    <label class="container-checkbox">
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                        Vol
                                      </label>
                                      <label class="container-checkbox">
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                        Hotel
                                      </label>
                                      <label class="container-checkbox">
                                        <input type="checkbox" >
                                        <span class="checkmark"></span>
                                        Activités pour enfants
                                      </label>
                                      <a routerLink="table">table</a>
                                 
                                    </div>
                                </li>
                                <br/>

                                <li>
                                    <a >table</a>
                                </li>
            
                </ul>
            </div>
            
        </div>
        <div class=" col-md-9 ">
            <div class="row">

    <div class=" col-md-6 " >
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            
            <div class="col-md-8 ">
              <div class="numbers">
            <p class="card-title">Titre de l'offre</p>
            </div>
            </div>
            <div class="col-md-4 " >
              <div class="numbers">
              <p class="card-category">Dakhla City</p>
              </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 bg-offre ">
  
             <img  src="assets/img/bg-offre.png" />
            </div>
  
            </div>
            <div class="row">
           
              <div class="numbers">
                <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                  Animation
                  Pieds dans l'eau</div>
                  <p>
              </div>
            </div>
            <div class="row extra-zone">
  
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-album-2"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-istanbul"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-satisfied"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-sun-fog-29"></i>
                </a>
               
              </div>
  
  
              
  
            </div>
           
        
        </div>
        <div class="card-footer ">
          <hr>
          <div class="row">
            <div class="col-md-6 card-price">
            5200 MAD 
        </div>
        <div class="col-md-6 update ml-auto mr-auto">
          <a routerLink="table" class="btn btn-primary btn-round">J'EN PROFITE</a>
  
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class=" col-md-6 ">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            
            <div class="col-md-8 ">
              <div class="numbers">
            <p class="card-title">Titre de l'offre</p>
            </div>
            </div>
            <div class="col-md-4 " >
              <div class="numbers">
              <p class="card-category">Dakhla City</p>
              </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 bg-offre ">
  
             <img  src="assets/img/bg-offre2.jpeg" />
            </div>
  
            </div>
            <div class="row">
           
              <div class="numbers">
                <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                  Animation
                  Pieds dans l'eau</div>
                  <p>
              </div>
            </div>
            <div class="row extra-zone">
  
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-album-2"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-istanbul"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-satisfied"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-sun-fog-29"></i>
                </a>
               
              </div>
  
  
              
  
            </div>
           
        
        </div>
        <div class="card-footer ">
          <hr>
          <div class="row">
            <div class="col-md-6 card-price">
            5200 MAD 
        </div>
        <div class="col-md-6 update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-round">J'en profite</button>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class=" col-md-6 ">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            
            <div class="col-md-8 ">
              <div class="numbers">
            <p class="card-title">Titre de l'offre</p>
            </div>
            </div>
            <div class="col-md-4 " >
              <div class="numbers">
              <p class="card-category">Dakhla City</p>
              </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 bg-offre ">
  
             <img  src="assets/img/bg-offre3.jpg" />
            </div>
  
            </div>
            <div class="row">
           
              <div class="numbers">
                <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                  Animation
                  Pieds dans l'eau</div>
                  <p>
              </div>
            </div>
            <div class="row extra-zone">
  
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-album-2"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-istanbul"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-satisfied"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-sun-fog-29"></i>
                </a>
               
              </div>
  
  
              
  
            </div>
           
        
        </div>
        <div class="card-footer ">
          <hr>
          <div class="row">
            <div class="col-md-6 card-price">
            5200 MAD 
        </div>
        <div class="col-md-6 update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-round">J'en profite</button>
        </div>
        </div>
      </div>
      </div>
    </div>
  
    <div class=" col-md-6 ">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            
            <div class="col-md-8 ">
              <div class="numbers">
            <p class="card-title">Titre de l'offre</p>
            </div>
            </div>
            <div class="col-md-4 " >
              <div class="numbers">
              <p class="card-category">Dakhla City</p>
              </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 bg-offre ">
  
             <img  src="assets/img/bg-offre3.jpg" />
            </div>
  
            </div>
            <div class="row">
           
              <div class="numbers">
                <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                  Animation
                  Pieds dans l'eau</div>
                  <p>
              </div>
            </div>
            <div class="row extra-zone">
  
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-album-2"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-istanbul"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-satisfied"></i>
                </a>
               
              </div>
              <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                  <i class="nc-icon nc-sun-fog-29"></i>
                </a>
               
              </div>
  
  
              
  
            </div>
           
        
        </div>
        <div class="card-footer ">
          <hr>
          <div class="row">
            <div class="col-md-6 card-price">
            5200 MAD 
        </div>
        <div class="col-md-6 update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-round">J'en profite</button>
        </div>
        </div>
      </div>
      </div>
    </div>
</div>
    </div>
    </div>
   
  
  
  