<div class="row" style="padding: 12%;background-color: #efefef;">
        <div class=" bg-offres">
          <div class=" col-md-12 ">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  
                  <div class="col-md-8 ">
                    <div class="numbers">
                  <p class="card-title">Titre de l'offre</p>
                  </div>
                  </div>
                  <div class="col-md-4 " >
                    <div class="numbers">
                    <p class="card-category">Dakhla City</p>
                    </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-8 bg-offre" style="height: 250px;">
        
                   <img  src="assets/img/bg-offre2.jpeg" />
                  </div>
                  <div class="col-md-4 bg-offre ">
      
                  <div class="row">
                 
                    <div class="numbers">
                      <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                        Animation
                        Pieds dans l'eau</div>
                        <p>
                    </div>
                  </div>
                  <div class="row extra-zone">
        
                    <div class="logo">
                      <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                        <i class="nc-icon nc-album-2"></i>
                      </a>
                     
                    </div>
                    <div class="logo">
                      <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                        <i class="nc-icon nc-istanbul"></i>
                      </a>
                     
                    </div>
                    <div class="logo">
                      <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                        <i class="nc-icon nc-satisfied"></i>
                      </a>
                     
                    </div>
                    <div class="logo">
                      <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                        <i class="nc-icon nc-sun-fog-29"></i>
                      </a>
                     
                    </div>
        
        
                    
        
                  </div>
                    <hr>
                    <div class="row">
                      <div class="price2">
                     à partir de 5200 MAD 
                  </div>
                
                  </div>
                </div>
      
              
              </div>
              
          </div>
      
          </div>
      
            </div>
          </div>
      
        <div class="col-md-12 ">
          <div class="form-card">
         <div class="card " style="padding: 30px; background-color: rgba(233, 94, 38, .4);
         ">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active " href="#home">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Programme</a>
                </li>
               
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-pane container active" id="home" style="font-weight: 500;">
             
              <p >Le package inclus : <br/>
      
                -Vol A/R Vers Agadir au départ de Fes/Tanger/Rabat ou Casablanca<br/>
                <br/>
                -4 Nuits à IBEROSTAR FOUNTY BEACH 4* en ALL INCLUSIVE<br/>
                <br/>
                 
                
                -Détails des vols selon la disponibilité :<br/>
                <br/>
                Horaires du vol changement selon la ville et le jour du départ.<br/>
                <br/>
                *10 kg bagage à main
                
                </p>
            
              </div>
            </div>
          </div>
         </div>
         </div>
         </div>
      
      
      
      
      
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Titre de l'offre</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Départ
                    </th>
                    <th>
                      Formule
                    </th>
                   
                    <th >
                      Prix
                    </th>
                    <th >
                      Selectionner
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="dates">
                       Départ : 12-12-2020
                        <br/>
                       Retour : 15-12-2020
                      </td>
                      <td>
                        <div class="logo">
                          <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                            <i class="nc-icon nc-sun-fog-29"></i>
                            Mer
                          </a>
                          </div>
                          <div class="logo">
                            <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                              <i class="nc-icon nc-sun-fog-29"></i>
                              Mer
                            </a>
                            </div>
                            <div class="logo">
                              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                                <i class="nc-icon nc-sun-fog-29"></i>
                                Mer
                              </a>
                            </div>
                              <div class="logo">
                                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                                  <i class="nc-icon nc-sun-fog-29"></i>
                                  Mer
                                </a>
                         
                        </div>    
                                  </td>
                      <td class="prices">
                        5200Mad
                      </td>
                     
                      <td>
                      <div class="col-md-6 update ml-auto mr-auto">
                        <p>
                          <button type="button" class="btn btn-primary btn-round " (click)="isCollapsed = !isCollapsed"
                                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                  Réserver                    </button>
                        </p>
      
                       
                       
                          
                        </div>
                      </td>
                    </tr>
                   <tr>
                   
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                      <div class="card card-reservation-table">
                        <div class="card-body">
                          <span>Détails du tarif</span>
                          <div class="table-responsive">
                            <table class="table table-tarif">
                              <thead class=" text-primary">
                                <th>
                                  element 1
                                </th>
                                <th>
                                  element 2
                                </th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>200</td>
                                <td>1500</td>
                                </tr>
                              </tbody>
                              </table>
                              </div>
                        </div>
                      </div>
                    </div>
                   
      
      
      
                   </tr>
                    <tr>
                      <td class="dates">
                       Départ : 12-12-2020
                        <br/>
                       Retour : 15-12-2020
                      </td>
                      <td>
                        <div class="logo">
                          <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                            <i class="nc-icon nc-sun-fog-29"></i>
                            Mer
                          </a>
                          </div>
                          <div class="logo">
                            <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                              <i class="nc-icon nc-sun-fog-29"></i>
                              Mer
                            </a>
                            </div>
                            <div class="logo">
                              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                                <i class="nc-icon nc-sun-fog-29"></i>
                                Mer
                              </a>
                            </div>
                              <div class="logo">
                                <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                                  <i class="nc-icon nc-sun-fog-29"></i>
                                  Mer
                                </a>
                         
                        </div>    
                                  </td>
                      <td class="prices">
                        5200Mad
                      </td>
                     
                      <td>
                      <div class="col-md-6 update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">Réserver</button>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="dates">
                       Départ : 12-12-2020
                        <br/>
                       Retour : 15-12-2020
                      </td>
                      <td>
                        <div class="logo">
                          <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                            <i class="nc-icon nc-sun-fog-29"></i>
                            Extra1
      
                          </a>
                          </div>
                          <div class="logo">
                            <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                              <i class="nc-icon nc-istanbul"></i>
                            Extra2
                            </a>
                           
                          </div>
                          <div class="logo">
                            <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                              <i class="nc-icon nc-satisfied"></i>
                              Extra3
      
                            </a>
                           
                          </div>
                          <div class="logo">
                            <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                              <i class="nc-icon nc-sun-fog-29"></i>
                              Extra4
      
                            </a>
                           
                          </div> 
                                  </td>
                      <td class="prices">
                        5200Mad
                      </td>
                     
                      <td>
                      <div class="col-md-6 update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">Réserver</button>
                      </div>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 ">
         <div class="forum-card">
        <div class="card " style="padding: 30px;margin-left: 20%; background-color: rgba(255, 255, 255, .4);
        ">
          
          <div class="card-body">
            <ul class="list-unstyled team-members">
              <li>
                <div class="row">
                  <div class="col-md-1 col-1">
                    <div class="avatar">
                      <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                  </div>
                  <div class="col-md-8 col-8">
                    Que du positif, respect d'engagement contractuel, services de professionnels votre commerciale Jihane accrocheuse Et              <br />
                    
                  </div>
                 
                </div>
              </li>
              <br/>
               <hr class="devider">
              <li>
                <div class="row">
                  <div class="col-md-1 col-1">
                    <div class="avatar">
                      <img src="assets/img/faces/kaci-baum-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                  </div>
                  <div class="col-md-8 col-8">
                    Que du positif, respect d'engagement contractuel, services de professionnels votre commerciale Jihane accrocheuse Et              <br />
                    
                  </div>
                 
                </div>
              </li>
              <br/>
              <hr class="devider">
      
              <li>
                <div class="row">
                  <div class="col-md-1 col-1">
                    <div class="avatar">
                      <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                  </div>
                  <div class="col-md-8 col-8">
                    Que du positif, respect d'engagement contractuel, services de professionnels votre commerciale Jihane accrocheuse Et              <br />
                    
                  </div>
                 
                </div>
              </li>
              <hr class="devider">
              <li>
                <div class="row">
                  <div class="col-md-1 area-center">
                    <div class="avatar">
                      <img src="assets/img/faces/erik-lucatero-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                  </div>
                  <div class="col-md-10 ">
                    <form>
                      <div class="row">
                        <div class="col-md-8 area-center">
                          <div class="form-group">
                            <input type="textArea" class="form-control"  placeholder="Company" value="Commentaire ...">
                          </div>
                        </div>
      
                          <div class="col-md-4 update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Réserver</button>
                          </div>
                      </div>
                        </form>              
                  </div>
                 
                </div>
              </li>
      
      
              
            </ul>
          </div>
        </div>
        </div>
        </div>
      </div>
      